<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035690501200-dbc7vu6aljpsfuvplkji67qn25du6npt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035690501200-dbc7vu6aljpsfuvplkji67qn25du6npt</string>
	<key>API_KEY</key>
	<string>AIzaSyBTkOjLZ3jpmEYZrpGW_8ydHViVJaLaZSg</string>
	<key>GCM_SENDER_ID</key>
	<string>1035690501200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apply</string>
	<key>PROJECT_ID</key>
	<string>apply-rn</string>
	<key>STORAGE_BUCKET</key>
	<string>apply-rn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035690501200:ios:03b43d0cb8b9889cdd9d55</string>
</dict>
</plist>